@import 'general/index.scss';

.bodytext {
    color: $darkblue;
    font-size: 18px;
    margin: 20px;

    &--orange {
        color: $orange;
    }

    &--white {
        color: $white;
    }
}

.undertitle {
        color: $darkblue;
        font-size: 22px;
        line-height: 0;

    &--orange {
        color: $orange;
    }

    &--white {
        color: $white;
    }
}

.title {
    color: $darkblue;
    font-size: 36px;
}