@import 'general/index.scss';

.topmenu {
    color: $white;
    background-color: $blue;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin: 0;
  }