* {
    box-sizing: border-box;
}

body {
    margin:0;
    text-align: center;
    background-color: #8dddf3;
    font-family: "calibri";
}

a {
    text-decoration: none;
}

.logo {
  width: 80%;
  margin-top: 20%;
  margin-bottom: 40px;
}

.swipbox {
    width: 100%;
}