.bottomButtons {
    position: absolute;
    bottom: 0px;
}

.multipackage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 20px;
    align-content: center;
    margin: 20px;
}

.multipackage img {
    width: 80%;
}

.center {
    align-content: center;
}